{% extends "base.html" %}

{% block main %}

<div class="container mt-4">
<h2 class="mb-4">Users</h2>
<table class="table">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Creation Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.timestamp }}</td>
            <td>
                <a href="{% url 'user_update' pk=user.id %}">Update</a>
                <br>
                <a href="{% url 'user_delete' pk=user.id %}">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
